{{!-- global: node --}}

<style>

</style>

<div id='chat'>
  <h1>Chat</h1>
  <ul id="log"></ul>
  <form id="send">
    <input type="text" id="text" placeholder="Enter message"><input class="button" type="submit" value="Send">
  </form>
</div>

<script type="text/javascript">
  $('#send').submit(function(e) {
    e.preventDefault();
    var msg = $('#text').val();
    node.connections.forEach((nodeId) => {
      node.transmitMsg(nodeId, msg);
    });
    displayMsg(node.node.id, msg);
    $('#text').val('');
    $('#text').focus();
  });

  function displayMsg(peerId, msg){
    $('ul#log').append(`<li>${peerId}: ${msg}</li>`);
  }
</script>
