<h2>Create New Instrument</h2>
<h3>TODO...</h3>
  <ul>
    <li>make new instrument form</li>
    <li>include text box for instrument name</li>
    <li>include options to chose between synth or sequencer</li>
    <li>include option to chose between 'play along' and 'send to station'</li>
  </ul>