{{!-- global: node --}}

<div id="wrap">
  <div id="looper">
    <div id="seq"></div>
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
  </div>
</div>

<script src="../SoundMatrix.js"></script>
<script>
  let context = new (window.AudioContext || window.webkitAudioContext)();
  let sounds = [
    new Sample('bass', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/bass.mp3'),
    new Sample('kick', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/kick.mp3'),
    new Sample('snare', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/snare.mp3'),
    new Sample('F#', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/casio/Fs2.mp3'),
    new PianoNote('C3'),
    new PianoNote('Db3'),
    new PianoNote('Eb3'),
    new PianoNote('E3'),
    new PianoNote('F3'),
    new PianoNote('Gb3'),
    new PianoNote('Ab3'),
    new PianoNote('A3'),
    new PianoNote('Bb3'),
    new PianoNote('B3'),
    new PianoNote('C4')
  ];
  let matrix = new SoundMatrix(
      'seq',
      sounds,
      context,
      16
    );

  matrix.sequencer.on('change',function(data) {
    console.log('seqChange: ' + JSON.stringify(data));
    node.connections.forEach( (nid) => {
      node.transmitSeqChange(nid, data);
    });
  })

  function start() {
    matrix.start();
  }

  function stop() {
    matrix.stop();
  }

  function updateSeq(data){
    matrix.sequencer.matrix.set.cell(data.column, data.row, data.state);
  }
</script>
