<h1>CENTRAL/HOME</h1>
<h2>TODO</h2>
<ul>
  <li>list active stations</li>
  <li>build functionality to create station (with custom station name)</li>
  <li>build functionality to join station (with custom username)</li>
</ul>
