
<style>

#back {
  min-width:900px;
  min-height:500px;
  padding:220px;
 	background-image: url("http://www.zgjm-org.com/data/out/10/IMG_410656.jpg");
}
#front {
  padding:10px;
	background-color: white;
} 
#image {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
</style>


<div id="back">
<div id="front">
<h1>BigE: A Peer-to-Peer Web Application for Creative Audio Streaming</h1>
<hr/>
<h2>Welcome to our website, we hope you enjoy ...! <h2>
</h2>Start streaming by creating your own station:</h2>
<br><br><br>
<div align="center">
<img src="https://i.pinimg.com/originals/b1/6a/df/b16adfb995a675fb1d744a908e7aaa58.jpg
" height="400" width="400" >

<a href="http://localhost:9000/station"> <h2>Click here to create your station!</h2></a>
</div>
<br><br>
<h3>You can join any of the following stations:</h3>
<br>

<div id ="Outter" >
</div>
<ul>
  <li>list active stations</li>
  <li>build functionality to create station (with custom station name)</li>
  <li>build functionality to join station (with custom username)</li>
</ul>
</div>
</div>
<script type="text/javascript">
  var stations = [
    {
      station_name: 'jazz',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'JSDDsee8', 'sdijfs8A'],
      beats_per_minute: 120,
      loop_cycle: 16
    },
    {
      station_name: 'hiphop',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'JSDDsee8', 'sdijfs8A', 'sdfsd8s'],
      beats_per_minute: 120,
      loop_cycle: 16
    },
    {
      station_name: 'bleepblop',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'scoobydoo', 'sdijfs8A', 'sdfsd8s', 'LSSJ383'],
      beats_per_minute: 120,
      loop_cycle: 16
    },
    {
      station_name: 'garage',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'JSDDsee8', 'sdijfs8A', 'sdfsd8s'],
      beats_per_minute: 160,
      loop_cycle: 40
    },
    {
      station_name: 'house',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'sdfsd8s'],
      beats_per_minute: 120,
      loop_cycle: 32
    },
    {
      station_name: 'classic',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'asdfs8292', 'sdijfs8A', 'sdfsd8s', 'sldkfjssfis', 'SJS8303', 'sodidjs2324', '23094j'],
      beats_per_minute: 90,
      loop_cycle: 24
    },
    {
      station_name: 'r&b',
      host_id: 'ysdo23p',
      connected_peers: ['sdlkjf2', 'SJS8303'],
      beats_per_minute: 90,
      loop_cycle: 16
    },
    {
      station_name: 'country',
      host_id: 'ysdo23p',
      connected_peers: ['SJS8303'],
      beats_per_minute: 84,
      loop_cycle: 16
    },
    {
      station_name: 'purple',
      host_id: 'ysdo23p',
      connected_peers: ['hdid92RRwq'],
      beats_per_minute: 84,
      loop_cycle: 16
    }
  ];


  var div = document.createElement("div");
  div.style= "display: inline-block; padding-left: 30px;"
  var image= document.createElement("img");
  image.src = "https://openclipart.org/image/2400px/svg_to_png/293804/sax-gedreht.png";
  image.id = "image";
  image.width = "200";
  image.height = "228";
  image.border = "1";
  div.appendChild(image);
  var link = document.createElement("a");
  link.href = "http://localhost:9000/station";
  link.style= "align: center; font-weight: bold;";
  link.innerHTML += "<figcaption style='text-align: center; font-weight: bold;'>Station 1</figcaption>";
  div.appendChild(link);
  document.getElementById("Outter").appendChild(div);
</script>
<style>
#image {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}
</style>