<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js"></script>

<div id="wrap">
  <div id="looper">
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
    <div id="seq"></div>
  </div>
</div>

<script src="./SoundMatrix.js"></script>
<script>
  let context = new (window.AudioContext || window.webkitAudioContext)();
  let sounds = [
    new Sample('bass', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/bass.mp3'),
    new Sample('kick', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/kick.mp3'),
    new Sample('snare', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/snare.mp3'),
    new Sample('F#', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/casio/Fs2.mp3'),
    new PianoNote('C3'),
    new PianoNote('Db3'),
    new PianoNote('Eb3'),
    new PianoNote('E3'),
    new PianoNote('F3'),
    new PianoNote('Gb3'),
    new PianoNote('Ab3'),
    new PianoNote('A3'),
    new PianoNote('Bb3'),
    new PianoNote('B3'),
    new PianoNote('C4')
  ];

  let matrix = new SoundMatrix(
      'seq',
      sounds,
      context,
      16
    );

  // sequencer.on('change',function(data) {
  //   seqChange(data);
  // })

  function start() {
    matrix.start();
  }

  function stop() {
    matrix.stop();
  }

  // function seqChange(data) {
  //   //console.log('seqChange: ' + JSON.stringify(data));
  // }

  // function updateSeq(data){
  //   sequencer.matrix.set.cell(data.column, data.row, data.state);
  // }
</script>

