<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>LOOPER</title>
<link rel="stylesheet" href="../style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script type="text/javascript" src="../serverLink.js"></script>
<script type="text/javascript" src="../peer.js"></script>
<script type="text/javascript" src="../user.js"></script>
<script type="text/javascript" src="../SoundMatrix.js"></script>
</head>
<body>
  <div id='userid' data-userid={{userid}}></div>
  <div id='stationid' data-stationid={{stationid}}></div>
  <div id="header">
    <div id="looper-heading">
      <h1 id='looper' class = "neon" data-text="[Looper]">Looper</h1>
    </div>
  <div id="node-headings">
    <h2 id='node-id'>Node ID: </h1>
    <h2 id='station-id'>Station ID: </h2>
  </div>
</div>

<div id="wrap">
  <div id="looper">
    <div id="seq"></div>
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
  </div>
</div>

<script type="text/javascript">
  let userid = $('#userid').data('userid');
  let stationid = $('#stationid').data('stationid');
  let user = new User(userid);
  $('#node-id').text(`You are: ${user.node.id}`);
  $('#station-id').text(`Station Id: ${stationid}`);
  if(userid === stationid){
    serverLink.emit('createStation', stationid);
  } else {
    serverLink.emit('joinStation', stationid);
    user.connect(stationid);
  }

  function sendMail() {
  var email = document.getElementById("email").value;
  var body = "I would like you to join his/her station!\n\n Click the link below to access the station! \n\n\n http://ec2-18-188-197-92.us-east-2.compute.amazonaws.com:9000/station#"+stationId +"\n";
  //var emailF = 'mailto:'+email+'?subject=Invitation&body=Hello! \nI would like you to join my station!'
  var link = "mailto:"+ email
               + "?cc="
               + "&subject=" + escape("BIGE Invitation!")
               + "&body=" + escape(body);
  window.location.href = link;
  }
</script>

<script>
  let context = new (window.AudioContext || window.webkitAudioContext)();
  let sounds = [
    new Sample('bass', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/bass.mp3'),
    new Sample('kick', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/kick.mp3'),
    new Sample('snare', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/snare.mp3'),
    new Sample('F#', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/casio/Fs2.mp3')
  ];
  let matrix = new SoundMatrix(
      'seq',
      sounds,
      context,
      16
    );
  matrix.sequencer.on('change',function(data) {
    seqChange(data);
  });

  function start() {
    matrix.start();
  }

  function stop() {
    matrix.stop();
  }

  function seqChange(data) {
    console.log('seqChange: ' + JSON.stringify(data));
    user.connections.forEach( (nid) => {
      user.transmitSeqChange(nid, data);
    });
  }

  function updateSeq(data){
    matrix.sequencer.matrix.set.cell(data.column, data.row, data.state);
  }

  function displayMsg(peerId, msg){
    console.log(`${peerId}: ${msg}`);
    //$('ul#log').append(`<li>${peerId}: ${msg}</li>`);
  }
</script>

<div id="synth">
  <ul id="keys">
    <li id="0" class="white a" > </li>
    <li id="1" class="black a" ></li>
    <li id="2" class="white a"></li>
    <li id="3" class="black a"></li>
    <li id="4" class="white a"></li>
    <li id="5" class="black a"></li>
    <li id="6" class="white a"></li>
    <li id="7" class="white"></li>
    <li id="8" class="black a"></li>
    <li id="9" class="white a"></li>
    <li id="10" class="black a"></li>
    <li id="11" class="white a"></li>
    <li id="12" class="white"></li>
    <li id="13" class="black a"></li>
    <li id="14" class="white a"></li>
    <li id="15" class="black a"></li>
    <li id="16" class="white a"></li>
    <li id="17" class="black a"></li>
    <li id="18" class="white a"></li>
    <li id="19" class="white"></li>
    <li id="20" class="black a"></li>
    <li id="21" class="white a"></li>
    <li id="22" class="black a"></li>
    <li id="23" class="white a"></li>
    <li id="24" class="white"></li>
    <li id="25" class="black a"></li>
    <li id="26" class="white a"></li>
    <li id="27" class="black a"></li>
    <li id="28" class="white a"></li>
    <li id="29" class="black a"></li>
    <li id="30" class="white a"></li>
    <li id="31" class="white"> </li>
  </ul>
</div>

<script>
  function pianoFrequency(id){
  var notes = ["F2", "Gb2", "G2", "Ab2", "A2", "Bb2", "B2", "C3", "Db3", "D3", "Eb3", "E3", "F3", "Gb3", "G3", "Ab3", "A3", "Bb3", "B3", "C4", "Db4", "D4", "Eb4", "E4", "F4", "Gb4", "G4", "Ab4", "A4", "Bb4", "B4", "C5", "Db5", "D5", "Eb5", "E5", "F5", "Gb5", "G5", "Ab5", "A5", "Bb5", "B5", "C6"];
  // console.log(`${id}, ${notes[id]}`);
  return notes[id];
  };
  $(document).ready(function(){
    $("#keys li").click(function(){
      var dist = new Tone.Distortion(2).toMaster();
      var synth = new Tone.Synth().connect(dist);
      synth.triggerAttackRelease(pianoFrequency(this.id), "8n");
      });
  });
</script>

<form action="javascript:sendMail();" name="pmForm" id="pmForm" method="post">
<h3>Enter Friend's Email:<h3>
<input id="email" type="text" maxlength="64" value="" />
<input type="submit" value="Invite" />
</form>

<br/> <br/> <br/> 
</body>
</html>
