<h1 class = "neon" data-text="[Looper]">Looper</h1>
<h2 id='node-id'>Node ID: </h1>
<h2 id='station-id'>Station ID: </h2>
{{>sequencerandsynth}}
{{>chat}}
<h2>TODO</h2>
<ul>
  <li>display all connected users</li>
  <li>initialize instruments with data</li>
  <li>display username and instrument name on tabs</li>
  <li>add ability to listen/ignore instruments</li>
</ul>
<script type="text/javascript">
  let node = new Node(generateId());
  $('#node-id').text(`Node Id: ${node.node.id}`);
  if(window.location.hash) {
    // find station id from url hash
    var stationId = window.location.hash.substring(1);
    $('#station-id').text(`Station Id: ${stationId}`);
    node.connect(stationId);
  } else {
    // no station id given
  }
</script>

<style>

/*Neon CSS code from: https://codepen.io/FelixRilling/pen/qzfoc*/
.neon {
  margin: 0;
  font-size: 7em;
  margin: 20px 0 20px 0;
  /*text-shadow: 0 0 20px #f441f1;*/
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

.neon:hover {
  color: #FF1177;
 -webkit-animation: none;
 -moz-animation: none;
 animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*.neon: after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #f441f1;
  filter: blur(15px);
}

.neon: before {
  content: ''
  width: 100%; height: 100%;
  background: #d641f4;
  z-index: -2;*/

}
</style>
