<div id='usernameData' data-username={{username}}></div>
<div id='stationData' data-station={{station}}></div>
<h2 id='station-id'>Station Id: </h2>
<h3 id='node-id'>Node Id: </h3>
{{>tabs}}
{{>chat}}
<script type="text/javascript">
  let station = $('#stationData').data('station');
  let host = station.connectedPeers[0];
  let username = $('#usernameData').data('username')
  let node = new Node(username);
  $('#station-id').text(`Station Id: ${station.name}`);
  $('#node-id').text(`hello ${node.node.id}`);
  if(host === username) {
    // current user is the host
    $('#node-id').text(`hello ${node.node.id}, you are the host of this station`);
  } else {
    node.connect(station.name);
    $('#station-id').text(`Station Id: ${station.name}, hosted by ${host}`);
  }
  
  //
</script>
