<div id="header">
    <div id="looper-heading">
      <h1 id='looper' class = "neon" data-text="[Looper]">Looper</h1>
    </div>
  <div id="node-headings">
    <h2 id='node-id'>Node ID: </h1>
    <h2 id='station-id'>Station ID: </h2>
  </div>
</div>
{{>sequencerandsynth}}
{{>chat}}
<h2>TODO</h2>
<ul>
  <li>display all connected users</li>
  <li>initialize instruments with data</li>
  <li>display username and instrument name on tabs</li>
  <li>add ability to listen/ignore instruments</li>
</ul>
<script type="text/javascript">
  let node = new Node(generateId());
  $('#node-id').text(`Node ID: ${node.node.id}`);
  if(window.location.hash) {
    // find station id from url hash
    var stationId = window.location.hash.substring(1);
    $('#station-id').text(`Station ID: ${stationId}`);
    node.connect(stationId);
  } else {
    // no station id given
  }
</script>

<style>

#header{
 height: 200px;
 width: 100%;
 background: url('https://thiswallpaper.com/cdn/hdwallpapers/817/awesome%20galaxy%20high%20quality%20image.jpg') no-repeat scroll 6px -43px;
}

#looper-heading {
position:relative;
top: 0px; left: 0px;
float:left;
border:0px solid #fff;
border-radius:0 0 3px 3px;

}

#node-headings {
  position:relative;
  width: 90%;
  float: right;
  border:0px solid #fff;
  border-radius:0 0 3px 3px;
  float: right;
  z-index: auto;
  width: 200px;
  height: auto;
  position: relative;
  cursor: default;
  opacity: 1;
  margin: -2px;
  padding: 11px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;

}
/*Neon CSS code from: https://codepen.io/FelixRilling/pen/qzfoc*/
.neon {
  margin: 0;
  font-size: 7em;
  margin: 20px 0 20px 0;
  /*text-shadow: 0 0 20px #f441f1;*/
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 3.5s ease-in-out infinite alternate;
  -moz-animation: neon1 3.5s ease-in-out infinite alternate;
  animation: neon1 3.5s ease-in-out infinite alternate;
}

.neon:hover {
  color: #FF1177;
 -webkit-animation: none;
 -moz-animation: none;
 animation: none;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}

/*.neon: after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #f441f1;
  filter: blur(15px);
}

.neon: before {
  content: ''
  width: 100%; height: 100%;
  background: #d641f4;
  z-index: -2;*/

}
</style>
