<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>LOOPER</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us">
<style>
@import url('https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P');
body {
  margin: 0;
  padding: 0;
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/asfalt.png');
  /*background: url('https://thiswallpaper.com/cdn/hdwallpapers/817/awesome%20galaxy%20high%20quality%20image.jpg');*/
  font-family: 'Monoton', cursive;
  color: #fff
}
h1 {
  text-align: center;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
#header{
 height: 200px;
 width: 100%;
 background: url('https://thiswallpaper.com/cdn/hdwallpapers/817/awesome%20galaxy%20high%20quality%20image.jpg') no-repeat scroll 6px -43px;
}
#looper-heading {
position:relative;
top: 0px; left: 0px;
float:left;
border:0px solid #fff;
border-radius:0 0 3px 3px;
}
#node-headings {
  position:relative;
  width: 90%;
  float: right;
  border:0px solid #fff;
  border-radius:0 0 3px 3px;
  float: right;
  z-index: auto;
  width: 200px;
  height: auto;
  position: relative;
  cursor: default;
  opacity: 1;
  margin: -2px;
  padding: 11px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*Neon CSS code from: https://codepen.io/FelixRilling/pen/qzfoc*/
.neon {
  margin: 0;
  font-size: 7em;
  margin: 20px 0 20px 0;
  /*text-shadow: 0 0 20px #f441f1;*/
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 3.5s ease-in-out infinite alternate;
  -moz-animation: neon1 3.5s ease-in-out infinite alternate;
  animation: neon1 3.5s ease-in-out infinite alternate;
}
.neon:hover {
  color: #FF1177;
 -webkit-animation: none;
 -moz-animation: none;
 animation: none;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script type="text/javascript" src="../bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script type="text/javascript" src="../peer.js"></script>
<script type="text/javascript" src="../user.js"></script>
<script type="text/javascript" src="../SoundMatrix.js"></script>
</head>
<body>
  <div id='userid' data-userid={{userid}}></div>
  <div id='stationid' data-stationid={{stationid}}></div>
  <div id="header">
    <div id="looper-heading">
      <h1 id='looper' class = "neon" data-text="[Looper]">Looper</h1>
    </div>
  <div id="node-headings">
    <h2 id='node-id'>Node ID: </h1>
    <h2 id='station-id'>Station ID: </h2>
  </div>
</div>

<div id="wrap">
  <div id="looper">
    <div id="seq"></div>
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
  </div>
</div>

<script>
  let context = new (window.AudioContext || window.webkitAudioContext)();
  let sounds = [
    new Sample('bass', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/bass.mp3'),
    new Sample('kick', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/kick.mp3'),
    new Sample('snare', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/snare.mp3'),
    new Sample('F#', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/casio/Fs2.mp3'),
    new PianoNote('C3'),
    new PianoNote('Db3'),
    new PianoNote('Eb3'),
    new PianoNote('E3'),
    new PianoNote('F3'),
    new PianoNote('Gb3'),
    new PianoNote('Ab3'),
    new PianoNote('A3'),
    new PianoNote('Bb3'),
    new PianoNote('B3'),
    new PianoNote('C4')
  ];
  let matrix = new SoundMatrix(
      'seq',
      sounds,
      context,
      16
    );
  // sequencer.on('change',function(data) {
  //   seqChange(data);
  // })
  function start() {
    matrix.start();
  }
  function stop() {
    matrix.stop();
  }
  // function seqChange(data) {
  //   //console.log('seqChange: ' + JSON.stringify(data));
  // }
  // function updateSeq(data){
  //   sequencer.matrix.set.cell(data.column, data.row, data.state);
  // }
</script>

<form action="javascript:sendMail();" name="pmForm" id="pmForm" method="post">
<h3>Enter Friend's Email:<h3>
<input id="email" type="text" maxlength="64" value="" />
<input type="submit" value="Invite" />
</form>

<script type="text/javascript">
  let userid = $('#userid').data('userid');
  let stationid = $('#stationid').data('stationid');
  let user = new User(userid);
  $('#node-id').text(`You are: ${user.node.id}`);
  $('#station-id').text(`Station Id: ${stationid}`);
  if(userid === stationid){
    // user is owner of station
  } else {
    user.connect(stationid);
  }

  function sendMail() {
  var email = document.getElementById("email").value;
  var body = "I would like you to join his/her station!\n\n Click the link below to access the station! \n\n\n http://ec2-18-188-197-92.us-east-2.compute.amazonaws.com:9000/station#"+stationId +"\n";
  //var emailF = 'mailto:'+email+'?subject=Invitation&body=Hello! \nI would like you to join my station!'
  var link = "mailto:"+ email
               + "?cc="
               + "&subject=" + escape("BIGE Invitation!")
               + "&body=" + escape(body);
  window.location.href = link;
  }
</script>

<br/> <br/> <br/> 
</body>
</html>
