<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>LOOPER</title>
<link rel="stylesheet" href="../style.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="Content-Language" content="en-us">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script type="text/javascript" src="../bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="https://rawgit.com/nexus-js/ui/master/dist/NexusUI.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.66/Tone.js"></script>
<script type="text/javascript" src="../peer.js"></script>
<script type="text/javascript" src="../user.js"></script>
<script type="text/javascript" src="../SoundMatrix.js"></script>
</head>
<body>
  <div id='userid' data-userid={{userid}}></div>
  <div id='stationid' data-stationid={{stationid}}></div>
  <div id="header">
    <div id="looper-heading">
      <h1 id='looper' class = "neon" data-text="[Looper]">Looper</h1>
    </div>
  <div id="node-headings">
    <h2 id='node-id'>Node ID: </h1>
    <h2 id='station-id'>Station ID: </h2>
  </div>
</div>

<div id="wrap">
  <div id="looper">
    <div id="seq"></div>
    <button onclick="start()">start</button>
    <button onclick="stop()">stop</button>
  </div>
</div>

<script>
  let context = new (window.AudioContext || window.webkitAudioContext)();
  let sounds = [
    new Sample('bass', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/bass.mp3'),
    new Sample('kick', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/kick.mp3'),
    new Sample('snare', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/loop/snare.mp3'),
    new Sample('F#', 'https://raw.githubusercontent.com/Tonejs/Tone.js/master/examples/audio/casio/Fs2.mp3'),
    new PianoNote('C3'),
    new PianoNote('Db3'),
    new PianoNote('Eb3'),
    new PianoNote('E3'),
    new PianoNote('F3'),
    new PianoNote('Gb3'),
    new PianoNote('Ab3'),
    new PianoNote('A3'),
    new PianoNote('Bb3'),
    new PianoNote('B3'),
    new PianoNote('C4')
  ];
  let matrix = new SoundMatrix(
      'seq',
      sounds,
      context,
      16
    );
  // sequencer.on('change',function(data) {
  //   seqChange(data);
  // })
  function start() {
    matrix.start();
  }
  function stop() {
    matrix.stop();
  }
  // function seqChange(data) {
  //   //console.log('seqChange: ' + JSON.stringify(data));
  // }
  // function updateSeq(data){
  //   sequencer.matrix.set.cell(data.column, data.row, data.state);
  // }
</script>

<form action="javascript:sendMail();" name="pmForm" id="pmForm" method="post">
<h3>Enter Friend's Email:<h3>
<input id="email" type="text" maxlength="64" value="" />
<input type="submit" value="Invite" />
</form>

<script type="text/javascript">
  let userid = $('#userid').data('userid');
  let stationid = $('#stationid').data('stationid');
  let user = new User(userid);
  $('#node-id').text(`You are: ${user.node.id}`);
  $('#station-id').text(`Station Id: ${stationid}`);
  if(userid === stationid){
    // user is owner of station
  } else {
    user.connect(stationid);
  }

  function sendMail() {
  var email = document.getElementById("email").value;
  var body = "I would like you to join his/her station!\n\n Click the link below to access the station! \n\n\n http://ec2-18-188-197-92.us-east-2.compute.amazonaws.com:9000/station#"+stationId +"\n";
  //var emailF = 'mailto:'+email+'?subject=Invitation&body=Hello! \nI would like you to join my station!'
  var link = "mailto:"+ email
               + "?cc="
               + "&subject=" + escape("BIGE Invitation!")
               + "&body=" + escape(body);
  window.location.href = link;
  }
</script>

<br/> <br/> <br/> 
</body>
</html>
