<h1 class = "neon" data-text="[Looper]">Looper</h1>
<h2 id='node-id'>Node ID: </h1>
<h2 id='station-id'>Station ID: </h2>
{{>sequencerandsynth}}
{{>chat}}
<h2>TODO</h2>
<ul>
  <li>display all connected users</li>
  <li>initialize instruments with data</li>
  <li>display username and instrument name on tabs</li>
  <li>add ability to listen/ignore instruments</li>
</ul>
<script type="text/javascript">
  let node = new Node(generateId());
  $('#node-id').text(`Node Id: ${node.node.id}`);
  if(window.location.hash) {
    // find station id from url hash
    var stationId = window.location.hash.substring(1);
    $('#station-id').text(`Station Id: ${stationId}`);
    node.connect(stationId);
  } else {
    // no station id given
  }
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
#body{
  margin: 0;
  padding: 0;
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/asfalt.png');
  font-family: 'Titillium Web', sans-serif;
}

.neon {
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 20px #f441f1;
}

.neon: after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #f441f1;
  filter: blur(15px);
}

.neon: before {
  content: ''
  width: 100%; height: 100%;
  background: #d641f4;
  z-index: -2;

}
</style>
