@import url('https://fonts.googleapis.com/css?family=Monoton|Press+Start+2P');
body {
  margin: 0;
  padding: 0;
  background: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/asfalt.png');
  /*background: url('https://thiswallpaper.com/cdn/hdwallpapers/817/awesome%20galaxy%20high%20quality%20image.jpg');*/
  font-family: 'Monoton', cursive;
  color: #fff
}
h1 {
  text-align: center;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
#header{
 height: 200px;
 width: 100%;
 background: url('https://thiswallpaper.com/cdn/hdwallpapers/817/awesome%20galaxy%20high%20quality%20image.jpg') no-repeat scroll 6px -43px;
}
#looper-heading {
position:relative;
top: 0px; left: 0px;
float:left;
border:0px solid #fff;
border-radius:0 0 3px 3px;
}
#node-headings {
  position:relative;
  width: 90%;
  float: right;
  border:0px solid #fff;
  border-radius:0 0 3px 3px;
  float: right;
  z-index: auto;
  width: 200px;
  height: auto;
  position: relative;
  cursor: default;
  opacity: 1;
  margin: -2px;
  padding: 11px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/*Neon CSS code from: https://codepen.io/FelixRilling/pen/qzfoc*/
.neon {
  margin: 0;
  font-size: 7em;
  margin: 20px 0 20px 0;
  /*text-shadow: 0 0 20px #f441f1;*/
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 3.5s ease-in-out infinite alternate;
  -moz-animation: neon1 3.5s ease-in-out infinite alternate;
  animation: neon1 3.5s ease-in-out infinite alternate;
}
.neon:hover {
  color: #FF1177;
 -webkit-animation: none;
 -moz-animation: none;
 animation: none;
}
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
